:root {
  --header-height: 72px;
}
.PreLaunchSplashPage {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(12, 1fr);
  gap: 64px 48px;
  width: calc(100vw - 96px);
  height: calc(100vh - 96px);
  padding: 48px;
}
@media (max-width: 768px) {
  .PreLaunchSplashPage {
    grid-template-columns: repeat(6, 1fr);
    gap: 48px 0px;
    width: calc(100vw - 48px);
    height: auto;
    padding: 24px;
  }
}
.PreLaunchSplashPage-ValueProp{
  grid-column: 1 / 13;
}
.PreLaunchSplashPage-Hero{
  grid-column: 1 / 7;
}
.PreLaunchSplashPage-CTA-and-Benefits{
  grid-column: 7 / 13;
  display: flex;
  flex-direction: column;
  gap: 48px;
}