:root {
  --header-height: 72px;
  --main-text-color: #17124E;
  --background-image: url(./assets/ocean.jpg);
}
.LandingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: var(--background-image);
  background-size: cover;
}
.LandingPage-name {
  font-size: calc(5/6*var(--header-height));
  margin: 0;
  padding: 10px;
  color: var(--main-text-color);
}
.LandingPage-header {
  height: var(--header-height);
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-items: start;
}
.LandingPage-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10vh 0;
}

.LandingPage-title {
  line-height: 1.5em;
  color: var(--main-text-color);
}

.LandingPage-subscribed {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  color: #17124E;
}
.LandingPage-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  height: 45px;
}
@media only screen and (max-width: 650px) {
  .LandingPage-title {
    font-size: 36px; 
  }
  .LandingPage-content {
    width: calc(100%-48px);
    padding: 0 24px;
  }
}
@media only screen and (min-width: 651px) {
  .LandingPage-title {
    font-size: 48px; 
  }
  .LandingPage-content {
    width: 600px;
  }
}
.LandingPage-form input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
}

.LandingPage-form button[type="submit"] {
  font-size: 18px;
  background-color: var(--main-text-color);
  color: white;
  border: none;
  cursor: pointer;
  height: 100%;
}